/* ======== header ======== */

header {
    .top-header {
        background-color: #000;
        position: relative;

        .main-top-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #fff;
        }

        .top-tagline {
            position: relative;
            padding: 13px 50px 13px 0px;
            line-height: 24px;
        }

        .limo-details ul {
            position: relative;
            z-index: 1;
            display: flex;
            gap: 20px;
            align-items: center;
        }

        .top-tagline::before {
            content: '';
            position: absolute;
            right: -20px;
            top: 0px;
            background: #2689ef;
            height: 100%;
            width: 2000px;
            -webkit-transform: skewX(20deg);
            -ms-transform: skewX(20deg);
            -o-transform: skewX(20deg);
            -moz-transform: skewX(20deg);
            transform: skewX(20deg);
        }

        .top-tagline ul {
            display: flex;
            align-items: center;
            gap: 20px;
            position: relative;
        }

        a {
            color: #fff;
        }

        .top-tagline a {
            display: flex;
            align-items: center;
            gap: 15px;
        }
    }

    .bottom-header {
        background: linear-gradient(273deg, rgb(18 108 217) 27%, rgb(24 47 80) 100%);
        padding: 15px 0px;

        .main-bottom-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .logo {
            width: 20%;
        }

        .logo img {
            max-width: 100%;
        }

        .primary-menu {
            display: flex;
            align-items: center;
            width: 80%;
            justify-content: end;
        }
        nav ul {
            display: flex;
            align-items: center;

        }

        nav a {
            font-size: 20px;
            padding: 10px 15px 0px;
        }

        a {
            color: #fff;
        }

        .whatsappimg {
            img {
                max-width: 140px;
            }
        }

    }

    .phone-view{
        display: none;
    }
    .menu-icon {
        display: none;
    }
}


header{
    nav{
         .drop-down{
            position: relative;
        }
        ul li a{ 
            padding: 10px 0px;
        }
        .down-arrow{ 
            margin-left: 10px;
        }
        .down-arrow i{ 
            transition: all .3s linear;
            color: #ffffff;
        }
        .menu-drop-down{
            position: absolute;
            /* top: 0; */
            background-color: #fff;
            width: 250px;
            padding: 15px;
            box-shadow: 1px 1px 10px #cccccc8a;
            transition: all .2s ease-in;
           opacity: 0;
           display: none;
            ul li a{
                padding: 0px;
                color: #000;
            }
            ul{
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 10px;
                a{
                    font-size: 16px;
                }
            }
        }
        .drop-down:hover .menu-drop-down{
            opacity: 1;
            display: block;
        }
        .drop-down:hover  .down-arrow i{ 
            transform: rotate(-180deg);
        }
    }
}

/* ====== banner ========= */

.hero-section {
    position: relative;

    .slider-imgs {

        .item {
            img {
                width: 100%;
            }
        }
    }

    .main-hero-section {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        z-index: 1;
    }

    .banner-content {
        text-align: center;
        width: 100%;
        max-width: 80%;
        padding: 25px;
        margin: 0 auto;
        display: flex;
        /* align-items: center; */
        flex-direction: column;
        gap: 20px;
        color: #fff;
    }

    .btn-group {
        display: flex;
        gap: 30px;
        justify-content: space-between;

        .btn {
            display: block;
            background-color: #2689ef;
            width: 100%;
            color: #ffffff;
            padding: 15px 10px;
            font-size: 18px;
        }

        .btn:nth-child(2) {
            background-color: #fff;
            color: #000;
        }
    }
}

/* =========== feature ========= */

.feature {
    text-align: center;

    p {
        margin: 20px 0px 50px;
    }

    .img-box {
        img {
            max-width: 60%;
        }
    }
}


/* ========== our fleet ========= */

.our-fleet {
    background: url(../upload/background/1.webp);
    background-position: center;
    background-size: cover;
    padding: 100px 0px 250px;
    text-align: center;
    h6{
        color: #fff;
    }
}

.fleet-content {
    text-align: center;
    margin-top: -200px;
    padding-bottom: 80px;

    .primary-btn {
        margin-top: 30px;
    }
}

/* ======= services ========= */

.services {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../upload/other/service-banner.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;

    h6{
        color: #fff;
    }
    .main-services {
        margin-top: 50px;
    }

    .service-content {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .primary-btn {
        margin-top: 20px;

    }
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    padding: 15px;

    .item {
        position: relative;

        .img-box {
            position: relative;
            overflow: hidden;
            display: flex;

            img{
                transition: all .2s linear;
            }
        }

        .img-caption {
            position: absolute;
            bottom: 0;
            /* right: 0; */
            left: 0;
            text-align: center;
            width: 100%;
            padding: 10px 0;
            background: #00000091;
            color: #fff;
            text-transform: capitalize;
        }
        .img-box:hover img{
            transform: scale(1.1);
        }
    }
}


/* ========== about us ======== */

.about-us{
    .main-about-us{
        display: flex;
        gap: 50px;
    }
    .img-box{
        width: 50%;
        img{
            border-radius: 20px;
            box-shadow: 1px 1px 20px #ccc;
        }
    }
    .about-content{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
/* ======== fleet ========= */

.fleet {
    .fleet-content {
        text-align: center;
    }

    .main-fleet {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        grid-gap: 50px;
        align-items: stretch;
        margin-top: 50px;
    }

    .item {
        text-align: center;

        img {
            width: 90%;
        }
    }

    .primary-btn {
        margin-top: 20px;
    }

    .second-btn {
        margin-top: 70px;
        text-align: center;

        button {
            background: transparent;
            border: 1px solid #d4af37;
            color: #000;
        }

    }

    .second-btn button:hover {
        background-color: #d4af37;
        color: #fff;
    }
}

/* =========== testimonial ======== */

.testimonial {
    display: flex;

    .testimonial-img {
        width: 50%;
        background: url(../upload/other/testimonial-banner.jpg);
        background-position: center;
        background-size: cover;

        background-repeat: no-repeat;
    }

    .testimonial-content {
        width: 50%;
        padding: 50px 0px;
    }

    h3 {
        text-align: center;
    }

    .testimonial-items {
        width: 70%;
        margin: 60px auto 0;
    }

    .item {
        .google-img {
            img {
                width: 200px;
            }
        }

        .t-bottom {
            display: flex;
            align-items: center;
            gap: 20px;

            img {
                width: 80px;
            }

            .author {
                font-size: 24px;
                font-weight: 700;
            }
        }
    }
}

/* ========= footer ========= */

.footer {
    background: linear-gradient(273deg, rgb(18 108 217) 27%, rgb(24 47 80) 100%);

    .top-footer {
        padding: 60px 0px;

        .main-top-footer {
            display: flex;
            text-align: center;
            color: #fff;
        }

        a {
            color: #fff;
        }

        .quick-link {
            width: 30%;
        }

        .footer-about {
            width: 40%;
        }

        .footer-contact {
            width: 30%;
        }

        ul {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        ul a {
            font-size: 20px;
        }

        .footer-logo img {
            max-width: 70%;
        }

        .footer-about p {
            font-size: 16px;
            margin-top: 20px;
        }

        .social-media {
            font-size: 24px;
            margin-top: 20px;
            display: flex;
            align-items: center;
            gap: 20px;
            justify-content: center;
        }

        .footer-24-img {
            margin-top: 20px;

            img {
                max-width: 70%;
            }
        }
    }

    .bottom-footer {
        background-color: #000;
        padding: 10px 0px;
        color: #fff;
        text-align: center;
        font-size: 14px;

        a {
            color: #fff;
        }

        img {
            margin-top: 10px;
            width: 100px;
        }
    }
}

/* ============ about page =========== */

#about-page{
    .main-about-section{
        display: flex;
        gap: 40px;
    }
    .about-img{
        width: 50%;

        img{
            border-radius: 10px;
            box-shadow: 0px 1px 18px 0px #ccc;
        }
    }
    .about-content{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

}

/* ============ services =========== */

#service-page{
    .main-service-page-section{
        display: flex;
        gap: 40px;
    }
    .service-img{
        width: 40%;
        img{
            border-radius: 15px;
        }
    }
    .service-content{
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .primary-btn{
        margin-top: 20px;
    }
}
/* ======== fleet page ======== */

#fleet-page{
    .main-fleet-page-section{
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

/* =========== contact Us page ============== */

#contact-page {

    background: url(../upload/background/white-painted-wall-texture-background.jpg);
    background-position: center;
    background-size: cover;

   p a{
        color: #2689ef;
    }
    .contact-main {
      .container {
        display: flex;
        gap: 40px;
      }
  
      .contact-details {
  
        width: 50%;
  
        .details-items {
          margin-top: 50px;
          display: flex;
          /* align-items: center; */
          flex-direction: column;
          gap: 20px;
        }
  
        .box {
          display: flex;
          gap: 20px;
          align-items: center;
  
          .icon {
            i {
              padding: 20px;
              background-color: #d7b65d;
              border-radius: 50px;
            }
          }
  
          h5 {
            font-size: 18px;
          }
  
          a {
            color: #000;
          }
        }
      }
  
      .contact-form {
        width: 50%;
  
        form {
          width: 100%;
  
          display: flex;
          flex-direction: column;
          gap: 12px;
  
          input,
          textarea {
            border-radius: 4px;
            border: 1px solid #919191;
            display: block;
            width: 100%;
            padding: 15px 15px;
          }
  
          .box {
            display: flex;
            gap: 20px;
          }
  
          input[type="submit"] {
            background-color: #000;
            width: 170px;
            height: 50px;
            color: #fff;
            font-size: 16px;
            text-transform: uppercase;
          }
        }
      }
    }
  
    .map {
      display: flex;
  
      iframe {
        width: 100%;
        height: 300px;
        border: 0;
      }
    }
  }

  /* ======== book ride ========= */

  .book-a-ride{

    background: url(../upload/background/white-painted-wall-texture-background.jpg);
    background-position: center;
    background-size: cover;
    .main-book-ride{
        width: 80%;
        margin: 0px auto;
        background-color: #efefef;
        padding: 30px;
        border-radius: 10px; 
        box-shadow: 1px 1px 11px #ccccccc9;
    }
    .box, .box-2 {
        margin: 10px 0px;
    }
    .box-2 {
        display: flex;
        gap: 20px;
        width: 100%;
    }
    .box-2-item {
        width: 50%;
    }

    form{
        label {
            display: block;
            margin-bottom: 8px;
            font-size: 18px;
        }
        input {
            width: 100%;
            border: none;
            padding: 12px;
            border-radius: 5px;
            font-size: 16px;
        }
        select {
            width: 100%;
            border: none;
            padding: 12px;
            border-radius: 5px;
            font-size: 16px;
        }
        input[type="submit"] {
            width: 170px;
            background-color: #2689ef;
            color: #fff;
            display: inline-block;
            margin-top: 20px;
        }
    }
  }